# Configurações do Banco PostgreSQL
DB_HOST=167.235.49.166
DB_NAME=bitrix
DB_USER=ville_admin
DB_PASSWORD=20@?9uVw0-w@
DB_PORT=5432

# Configurações do Bitrix24
BITRIX_DOMAIN=https://grupovillela.bitrix24.com.br
BITRIX_WEBHOOK=/rest/28/bn790kn8m1oo1aw2/

# Configurações do Servidor
NODE_ENV=production
PORT=3000
